<div class='container'>
<div class='row'>
	<div class='span'>
	
	<%= link_to 'Home', '/index#/portfolios' %>

<% Portfolio.all.each do |port| %>
<table class="table table-condensed table-striped table-bordered">
	<thead>
		<tr>
			<th>Portfolio Name</th>
			<th>Date</th>
			<th>Cash</th>
			<th># Stocks</th>
			<th>Stocks Value</th>
			<th># Options</th>
			<th>Options Value</th>
			<th>Total Value</th>
		<tr>
	<thead>
	<% History.where(:portfolio_id => port.id).each do |hist| %>
		<tr>
			<td><%= hist.portfolio.name %></td>
			<td><%= hist.snapshot_date %></td>
			<td class='aln_r'>$<%= number_with_precision(hist.cash, :precision => 2) %></td>
			<td class='aln_r'><%= hist.stocks_count %></td>
			<td class='aln_r'>$<%= number_with_precision(hist.stocks, :precision => 2) %></td>
			<td class='aln_r'><%= hist.options_count %></td>
			<td class='aln_r'>$<%= number_with_precision(hist.options, :precision => 2) %></td>
			<td class='aln_r'>$<%= number_with_precision(hist.total, :precision => 2) %></td>
		</tr>
	<% end %>
<table>
<% end %>

	<table class="table table-condensed table-striped table-bordered">
		<thead>
			<tr>
				<th>Portfolio Name</th>
				<th>Date</th>
				<th>Cash</th>
				<th># Stocks</th>
				<th>Stocks Value</th>
				<th># Options</th>
				<th>Options Value</th>
				<th>Total Value</th>
			<tr>
		<thead>
		<% @history.each do |hist| %>
			<tr>
				<td><%= hist.portfolio.name %></td>
				<td><%= hist.snapshot_date %></td>
				<td class='aln_r'>$<%= number_with_precision(hist.cash, :precision => 2) %></td>
				<td class='aln_r'><%= hist.stocks_count %></td>
				<td class='aln_r'>$<%= number_with_precision(hist.stocks, :precision => 2) %></td>
				<td class='aln_r'><%= hist.options_count %></td>
				<td class='aln_r'>$<%= number_with_precision(hist.options, :precision => 2) %></td>
				<td class='aln_r'>$<%= number_with_precision(hist.total, :precision => 2) %></td>
			</tr>
		<% end %>
	<table>
		      

<h3><%= @stocks.count %> Stocks</h3>
<table class="table table-condensed table-striped table-bordered">
     <thead>
       <tr>
	     <th>Count</th>
         <th>Symbol</th>
         <th class='aln_r'>Last Trade</th>
		 <th class='aln_r'>Change</th>
		 <th class='aln_r'>Age (mins)</th>
		 <th>Last Update</th>
       </tr>
     </thead>
	<% @stocks.each_with_index do |security, index| %>
		<tr><td><%= index %></td>
			<td><%= security[0].symbol %></td>
			<td class='aln_r'><%= number_with_precision(security[0].last_price, :delimiter => ',', :precision => 2 ) %></td>
			<td class='aln_r'><%= number_with_precision(security[0].change, :delimiter => ',', :precision => 2 ) %></td>
			<td class='aln_r'><%= number_with_precision(( security[1] / 60), :delimiter => ',', :precision => 0 ) %></td>
			<td><%= security[0].last_update %></td>
		</tr>
	<% end %>
 </table>

<h3><%= @options.count %> Options</h3>
<table class="table table-condensed table-striped table-bordered">
     <thead>
       <tr>
	     <th>Count</th>
         <th>Symbol</th>
         <th>Last Trade</th>
		 <th>Bid</th>
		 <th>Ask</th>
		 <th>Age</th>
		 <th>Last Update</th>
       </tr>
     </thead>
	<% @options.each_with_index do |security, index| %>
		<tr><td><%= index %></td>
			<td><%= security.symbol %></td>
			<td class='aln_r'><%= number_with_precision(security.last_price, :delimiter => ',', :precision => 2 ) %></td>
			<td class='aln_r'><%= number_with_precision(security.bid, :delimiter => ',', :precision => 2 ) %></td>
			<td class='aln_r'><%= number_with_precision(security.ask, :delimiter => ',', :precision => 2 ) %></td>
			<td class='aln_r'><%= number_with_precision( (Time.now + 1.hour - security.last_update) / 60, :delimiter => ',', :precision => 0 ) %></td>
			<td><%= security.last_update %></td>
		</tr>
	<% end %>
 </table>

</div>
</div>
</div>