


<form {{action save on="submit"}} class="form-horizontal">
  <legend>Edit Stock</legend>

<div class="control-group">
  <label class="control-label" for="Symbol">Symbol</label>
  <div class="controls">
    {{view Ember.TextField valueBinding="symbol" id="symbol" placeholder="Symbol" required="true"}}
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="Quantity">Quantity</label>
  <div class="controls">
    {{view Ember.TextField valueBinding="quantity" id="quantity" placeholder="Quantity" required="true"}}
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="Purchase Price">Purchase Price</label>
  <div class="controls">
    {{view Ember.TextField valueBinding="purchase_price" id="purchase_price" placeholder="Purchase Price" required="true" }}
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="Contact">Belongs to</label>
  <div class="controls">
	{{view Ember.Select
     contentBinding="all_ports"
     optionValuePath="content.id"
     optionLabelPath="content.name"
	 selectionBinding="portfolio" }}
  </div>
</div>

  <div class="form-actions">
    <button {{action save}} class="btn btn-mini btn-info">Save</button>
	<button {{action cancel}} class='btn btn-mini'>Cancel</button>
  </div>
</form>
