<tr>
	<th>Symbol
	<button {{action consolidated_sort by_symbol class='btn'}}> {{sort_arrow ConSortAscending ConSortProperties by_symbol }} </button>
	</th>
	<th style='text-align:right;'>Quantity</th>
	<th style='text-align:right;'>Latest Price</th>
	<th style='text-align:right;'>Value
	<button {{action consolidated_sort by_value class='btn'}}> {{sort_arrow ConSortAscending ConSortProperties by_value }} </button>
	</th>
	<th style='text-align:right;'>Daily Change
	<button {{action consolidated_sort by_change class='btn'}}> {{sort_arrow ConSortAscending ConSortProperties by_change }} </button>
	</th>
	<th style='text-align:right;'>Portfolios</th>
</tr>
