<table class='table table-condensed table-striped table-bordered'>
	<tr>
		<th>Symbol</th>
		<th>Quantity</th>
		<th>Current Price</th>
		<th>Daily Change</th>
		<th>Time</th>
		<th>Value</th>
	</tr>

{{#each stock in with_ids}}
	<tr>
		<td>{{#linkTo "stock" stock}} {{stock.symbol}} {{/linkTo}}</td>
		<td style='text-align:right;'> {{stock.quantity}} </td>
		<td style='text-align:right;'> {{stock.latest_price}}</td>
		<td style='text-align:right;'> {{stock.daily_change}}</td>
		<td style='text-align:right;'> {{stock.latest_time}}</td>
		<td style='text-align:right;'> ${{decimal stock.position_value}} </td>
	</tr>
{{/each}}

	<tr>
	<td></td>
	<td></td>
	<td></td>
	<td style='text-align:right;'>${{decimal total_value}}</td>
	</tr>
</table>




