<tr>
	<th>Symbol
	<button {{action sort by_symbol}} class="sort" >{{sort_arrow sortAscending sortProperties col_symbol}}</button>
	</th>
	<th colspan=4 style='text-align:right;'>Quantity</th>
	<th style='text-align:right;'>Current Price</th>
	<th style='text-align:right;'>Value
	<button {{action sort by_value}} class="sort" >{{sort_arrow sortAscending sortProperties col_Value}}</button>
	</th>
	<th style='text-align:right;'>Daily Change
	<button {{action sort by_daily}} class="sort" >{{sort_arrow sortAscending sortProperties col_Daily}}</button>
	</th>
	<th style='text-align:right;'>Time</th>
</tr>
