<div class="menu_span">
  <div class="well">
    <ul class="nav nav-list">
    <li class='active'>{{#linkTo "home"}}Home{{/linkTo}}</li>
    <li class="nav-header">Analysis</li>
		<li>{{#linkTo "portfolios"}}Portfolios{{/linkTo}}</li>
		<li>{{#linkTo 'stocks'}}Stocks and Options{{/linkTo}}</li>
    <li class="nav-header">System</li>
		<li>{{#linkTo 'login' }}<i class="icon-user"></i> 
			{{HelloEmber.logged_in_user}}{{/linkTo}}</li>
    	<li>{{#linkTo 'about'}}About{{/linkTo}}</li>
    	<li><a href='/'>Exit</a></li>	
    </ul>
  </div>
</div>

<div class="span9">

<h4>Welcome to Nvestr Portfolio Manager</h4>

	<div class="control-group">
	    <div class="controls form-inline">

	        <button {{action load_graph }} id='plot_btn' class='btn'>Refresh Graph <i class="icon-forward"></i></button>
			{{timer_count}} | {{tv_count}} | ${{decimal most_recent}} {{count}}
		
	    </div>
	</div>

	<div id="total_combined_value" style="width:800px;height:400px;"></div>


</div>


<br>

