<div class="menu_span">
{{#if HelloEmber.logged_in_state}}
  <div class="well">
    <ul class="nav nav-list">
    <li class="nav-header">Analysis</li>
		<li>{{#linkTo "portfolios"}}Portfolios{{/linkTo}}</li>
		<li>{{#linkTo 'stocks'}}Stocks and Options{{/linkTo}}</li>
    <li class="nav-header">System</li>
		<li class='active'>{{#linkTo 'login' classNameBindings="view.login_button_class"}}<i class="icon-user"></i> 
			{{HelloEmber.logged_in_user}}{{/linkTo}}</li>
    	<li>{{#linkTo 'about'}}About{{/linkTo}}</li>
    	<li><a href='/'>Exit</a></li>	
    </ul>
  </div>
{{/if}}

</div>

<div class="span7">


	{{#if HelloEmber.logged_in_state}}

	    <div">
	      <h3>Welcome to Nvestr</h3>
	      <h4>Profile Information</h4>
		  <p>Contact: {{contact.fullName}}</p>
	      <p>Email: {{contact.email}}</p>

	      <h4>Portfolio Information</h4>
	      <p>Total Value: ${{decimal contact.portfolio_value}}</p>
		  <p>Number of Stocks: {{contact.stocks.length}}

		<br><br>
		 <button {{action "logout"}}  class="btn btn-warning">
			    <i class="icon-off"></i> Logout</button>

	    </div>

	{{else}}

	<div class="form-signin">
		<h3>Please login</h3>
		<hr /><br />
		<label>Email: </label>{{view Ember.TextField valueBinding="email" }}<br />
		<label>Password: </label>{{view Ember.TextField valueBinding="password" type="password" action="login"}}<br />
  
		<br /><button {{action "login"}} class='btn btn-success'>Login</button>
	</div>

	{{/if}}


</div>


<br>



