
<div class="span2">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">Portfolios ({{content.length}})
	</li>
      {{#each portfolio in controller}}
        {{view HelloEmber.PortfolioInListView contentBinding="portfolio"}}
      {{/each}}
    </ul>
  </div>
</div>

<div class="span10">

<div id="flash" class="alert alert-success">
    <span></span>
</div>

{{#if controller.activePortfolioId}}
{{else}}
	<p> 
	
	<div class="control-group">
	  <label class="control-label"><b>Portfolio Group</b></label>
	  <div class="controls">
		{{view Ember.Select
	     contentBinding= "HelloEmber.security_type"
		 valueBinding="stock_option"
		 class='span3'  }}
		{{#linkTo "portfolios.new" class="btn btn-mini" }}<i class="icon-plus-sign"></i> Create New Portfolio{{/linkTo}}
		
	  </div>
	</div>
	
</p>
{{/if}}


<dd>			
    <ul id="myTab" class="nav nav-tabs">
      <li class="active"><a href="#daily" data-toggle="tab">Daily</a></li>
      <li class=""><a href="#gain_loss" data-toggle="tab">Gain/Loss</a></li>
      <li class=""><a href="#plot" data-toggle="tab">Plot</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane active fade in" id="daily">


	{{outlet}}

	{{#if controller.display_list}}
		<table class="table table-condensed table-bordered table-striped">
		<tr>
			<th>Full Name
			<button {{action sort_by_name}} class="sort" >{{sort_arrow sortAscending sortProperties col_Name}}</button>
			</th>
			<th style='text-align:right;'>Cash</th>
			<th style='text-align:right;'>Stocks</th>
			<th style='text-align:right;'>Options</th>
			<th style='text-align:right;'>Total Value
			<button {{action sort_by_value}} class="sort" >{{sort_arrow sortAscending sortProperties col_Total}}</button>
			</th>
			<th style='text-align:right;'>Daily Change
			<button {{action sort_by_daily_change}} class="sort" >{{sort_arrow sortAscending sortProperties col_Daily}}</button>
			</th>
			<th style='text-align:right;'>Dividends Yesterday</th>
			<th style='text-align:right;'>Status</th>
		</tr>
	  {{#each portfolio in controller}}
		<tr>
	    {{view HelloEmber.PortfolioInMainView contentBinding="portfolio"}}
		</tr>
	  {{/each}}
		<tr>
			<td colspan=7></td>
		</tr>
		<tr>
			<th style='text-align:right;'>Totals: </th>
			<td style='text-align:right;'>${{decimal total_cash}}</td>
			<td style='text-align:right;'>${{decimal total_stocks_only}}</td>			
			<td style='text-align:right;'>${{decimal total_options_only}}</td>
			<td style='text-align:right;'>${{decimal total_stocks}}</td>
			<td style='text-align:right;'>${{decimal total_daily}}</td>
			<td style='text-align:right;'>${{decimal total_dividends}}</td>
			<td></td>
		</tr>
	  </table>
	{{/if}}


      </div>
      <div class="tab-pane fade" id="gain_loss">


      </div>
      <div class="tab-pane fade" id="plot">

		<div class='row'>
			<div class='span7 offset1'>
			<div class="control-group">
		        <span class="control-label">Metadata</span>
		        <div class="controls form-inline">
		            <label for="inputKey">Date Range</label>
		            {{view Ember.Select
				     contentBinding= "HelloEmber.security_type"
					 valueBinding="stock_option"
					 class='span3'  }}
					
		            <label for="inputValue">Re Draw</label>
		            <button {{action load_graph }} id='plot_btn' class='btn'><i class="icon-forward"></i></button>
					
		        </div>
		    </div>
		
				<div id="theegraph" style="width:800px;height:400px;"></div>
			</div>
		</div>

      </div>
    </div>
	    
    </dd>


		
</div>


<script>
$('a[data-toggle="tab"]').on('shown', function (e) {
//  alert(e.target);  // activated tab
	if (e.target.toString().match('plot') ) { 
	$("#plot_btn").click() ;
	} ;
	
//  e.relatedTarget // previous tab
})
</script>
