<td>{{#linkTo "portfolio" portfolio}} {{portfolio.name}}{{/linkTo}}</td>
<td> {{portfolio.id}} </td>
<td> {{portfolio.email}} </td>
<td style='text-align:right;'> {{portfolio.stocks.length}} </td>
<td style='text-align:right;'> ${{decimal portfolio.portfolio_value}}</td>
<td> {{#linkTo "portfolios.edit" portfolio class='btn btn-mini btn-info'}}Edit{{/linkTo}}
	 <button {{action delete_portfolio portfolio}} class='btn btn-mini btn-warning'>Delete</button>
		<small style='color:black;'>({{portfolio.state}})</small>
</td>

