<div class="span3">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">Portfolios ({{content.length}})
	</li>
      {{#each portfolio in controller}}
        {{view HelloEmber.PortfolioInListView contentBinding="portfolio"}}
      {{/each}}
    </ul>
  </div>
</div>

<div class="span9">

<div id="flash" class="alert alert-success">
    <span></span>
</div>

{{#if controller.activePortfolioId}}
{{else}}
	<p class="box">Portfolios {{#linkTo "portfolios.new" class="btn btn-mini" }}<i class="icon-plus-sign"></i> Add Portfolio{{/linkTo}}</p>
{{/if}}

	{{outlet}}
	
	{{#if controller.display_list}}
		<table class="table table-condensed table-bordered table-striped">
		<tr>
			<th>Full Name</th>
			<th># of Stocks</th>
			<th>Total Value of Stocks
			<button {{action sort}} class="sort" >{{sort_arrow sortAscending}}</button>
			</th>
			<th>Daily Change</th>
			<th>Cash</th>
			<th>Controls</th>
		</tr>
	  {{#each portfolio in controller}}
		<tr>
	    {{view HelloEmber.PortfolioInMainView contentBinding="portfolio"}}
		</tr>
	  {{/each}}
		<tr>
			<td></td>
			<td style='text-align:right;'>Totals: </td>
			<td style='text-align:right;'>${{decimal total_stocks}}</td>
			<td style='text-align:right;'>${{decimal total_daily}}</td>
			<td style='text-align:right;'>${{decimal total_cash}}</td>
			<td></td>
		</tr>
	  </table>
	{{/if}}
		
</div>

