<td>{{#linkTo "portfolio" portfolio}} {{portfolio.name}}{{/linkTo}}</td>
<td style='text-align:right;'> ${{decimal portfolio.cash}}</td>
<td style='text-align:right;'> ${{subtract portfolio.portfolio_value portfolio.cash }}</td>
<td style='text-align:right;'> ({{portfolio.stocks.length}}) ${{decimal portfolio.portfolio_value}}</td>
<td style='text-align:right;'> ${{decimal portfolio.portfolio_daily}}</td>
<td> <button {{action delete_portfolio portfolio}} class='btn btn-mini btn-warning'>Delete</button>
	 <small style='color:black;'>({{portfolio.state}})</small>
</td>

