<td>{{#linkTo "portfolio" portfolio}} {{portfolio.name}}{{/linkTo}}</td>
<td style='text-align:right;'>${{decimal portfolio.cash}}</td>
<td style='text-align:right;'>${{decimal portfolio.stocks_value }}</td>
<td style='text-align:right;'>${{decimal portfolio.options_value }}</td>
<td style='text-align:right;'>${{decimal portfolio.portfolio_value}}</td>
<td style='text-align:right;'> ${{decimal portfolio.portfolio_daily}}</td>
<td style='text-align:right;'> ${{decimal portfolio.daily_dividends}}</td>
<td style='text-align:right;'><small style='color:black;'>({{portfolio.state}})</small></td>

