<div class="menu_span">
  <div class="well">
    <ul class="nav nav-list">
  	<li>{{#linkTo "home"}}Home{{/linkTo}}</li>
    <li class="nav-header">Portfolios</li>
	<li>{{#linkTo 'portfolios'}}All Combined{{/linkTo}}</li>
    <li class="nav-header">Positions</li>
	<li class='active'>{{#linkTo 'stocks'}}Stocks and Options{{/linkTo}}</li>
    <li class="nav-header">System</li>
		<li>{{#linkTo 'login' }}<i class="icon-user"></i> 
			{{HelloEmber.logged_in_user}}{{/linkTo}}</li>
    	<li>{{#linkTo 'about'}}About{{/linkTo}}</li>
    	<li><a href='/'>Exit</a></li>	
    </ul>
  </div>
</div>

<div class="span9">
	
<div id="flash" class="alert alert-success">
    <span></span>
</div>
	
{{#if activeStockId}}
{{else}}
<p class="box">Positions {{#linkTo "stocks.new" class="btn btn-mini" }}<i class="icon-plus-sign"></i> Add Stock{{/linkTo}}</p>
{{/if}}

{{outlet}}

{{#if controller.display_list}}

    <ul id="myTab" class="nav nav-tabs">
      <li class="active"><a href="#consolidated" data-toggle="tab">Consolidated ({{consolidated_stocks.length}})</a></li>
      <li class=""><a href="#options" data-toggle="tab">Options ({{options.length}})</a></li>
      <li class=""><a href="#individual" data-toggle="tab">Individual ({{sorted_with_ids.length}})</a></li>
      <li class=""><a href="#gain_loss" data-toggle="tab">Gain/Loss</a></li>
      <li class=""><a href="#position" data-toggle="tab">Position</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
	   <div class="tab-pane active fade in" id="consolidated">
		<p>{{partial "partials/stocks/consolidated"}}</p>
	   </div>
      <div class="tab-pane fade" id="options">
        <p>{{partial "partials/stocks/options"}}</p>
      </div>
      <div class="tab-pane fade" id="individual">
        <p>{{partial "partials/stocks/individual_stocks"}}</p>
      </div>
      <div class="tab-pane fade" id="gain_loss">
        <p>{{partial "partials/stocks/gain_loss"}}</p>
      </div>
      <div class="tab-pane fade" id="position">
		<p>{{partial "partials/stocks/position"}}</p>
      </div>
    </div>

{{/if}}

</div>


<br>


