
<div class="span2">
  <div class="well">
    <ul class="nav nav-list">
      <li class="nav-header">Positions ( {{sorted_with_ids.length}} )</li>
      {{#each stock in sorted_with_ids}}
        {{view HelloEmber.StockInListView contentBinding="stock"}}
      {{/each}}
    </ul>
  </div>
</div>

<div class="span9">
	
<div id="flash" class="alert alert-success">
    <span></span>
</div>
	
{{#if activeStockId}}
{{else}}
<p class="box">Positions {{#linkTo "stocks.new" class="btn btn-mini" }}<i class="icon-plus-sign"></i> Add Stock{{/linkTo}}</p>
{{/if}}

{{outlet}}

{{#if controller.display_list}}

    <ul id="myTab" class="nav nav-tabs">
      <li class="active"><a href="#daily" data-toggle="tab">Daily</a></li>
      <li class=""><a href="#gain_loss" data-toggle="tab">Gain/Loss</a></li>
      <li class=""><a href="#position" data-toggle="tab">Position</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane active fade in" id="daily">
        <p>{{partial "partials/stocks/daily_stocks"}}</p>
      </div>
      <div class="tab-pane fade" id="gain_loss">
        <p>{{partial "partials/stocks/gain_loss"}}</p>
      </div>
      <div class="tab-pane fade" id="position">
		<p>{{partial "partials/stocks/position"}}</p>
      </div>
    </div>

{{/if}}

</div>


<br>


