<h3>{{count}} Stocks</h3>

{{#each stock in with_ids}}
ID:{{stock.id}} |  {{stock.quantity}} shares of {{#linkTo stocks.edit stock}}{{stock.symbol}}{{/linkTo}} that belongs to <b>{{stock.portfolio.name}}</b> ({{stock.state}})

<button {{action delete_stock stock}}>Delete</button>

<br>

{{/each}}
<br>
<button {{action add_stock}}>Add Stock</button>


{{outlet}}
