<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Template &middot; Bootstrap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 60px;
      }

      /* Custom container */
      .container {
        margin: 0 auto;
        max-width: 1000px;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 10px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 100px;
        line-height: 1;
      }
      .jumbotron .lead {
        font-size: 24px;
        line-height: 1.25;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }


      /* Customize the navbar links to be fill the entire space of the .navbar */
      .navbar .navbar-inner {
        padding: 0;
      }
      .navbar .nav {
        margin: 0;
        display: table;
        width: 100%;
      }
      .navbar .nav li {
        display: table-cell;
        width: 1%;
        float: none;
      }
      .navbar .nav li a {
        font-weight: bold;
        text-align: center;
        border-left: 1px solid rgba(255,255,255,.75);
        border-right: 1px solid rgba(0,0,0,.1);
      }
      .navbar .nav li:first-child a {
        border-left: 0;
        border-radius: 3px 0 0 3px;
      }
      .navbar .nav li:last-child a {
        border-right: 0;
        border-radius: 0 3px 3px 0;
      }
    </style>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">
  </head>

  <body>

    <div class="container">

      <div class="masthead">
        <h3 class="muted">The Many Faces of Ember</h3>
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <ul class="nav">
                <li class="active"><a href="#">Home</a></li>
                <li><%= link_to 'References', reference_path %></li>
                <li><a href="#">Projects</a></li>
              </ul>
            </div>
          </div>
        </div><!-- /.navbar -->
      </div>

      <!-- Jumbotron -->
      <div class="jumbotron">
        <p>This site was created to show the many ways to implement Ember.  All the examples follow the same use case which is a Stock Portfolio management system.  Each example is a little different than the next, but they all share data and are connected to same backend rails server.</p>
      </div>

      <!-- Example row of columns -->
      <div class="row-fluid">
        <div class="span4">
          <h3>Embedded Rails Version</h3>
          <p>This version was modeled after DGeb's (<%= link_to 'Ember-Data-Example', 'https://github.com/dgeb/ember_data_example', :target => '_blank' %>) which is a great starting point for learning Ember-Rails. This app uses two patterns for showing and editing persistent objects.</p>
		<ul>
			<li>Using the Router to switch paths between show, edit and delete</li>
			<li>Stationary in one path, but using flags to display different modes of show, edit and delete</li>
		</ul>
          <p><%= link_to 'Portfolio (Ember-Rails)', '/index', :class => "btn"  %></p>
        </div>
        <div class="span4">
          <h3>SPA Version</h3>
          <p>Single Page Application version modeled from Joachim Skeie (<%= link_to 'Notebook Example', 'https://github.com/joachimhs/Ember.js-in-Action-Source/tree/master/chapter1', :target => '_blank' %>) from his upcoming book "Ember in Action"</p>
		<ul>
			<li>Uses modal popovers for data interaction</li>
			<li>Ember templates are compiled from Javascript files</li>
		</ul>
		  <p><%= link_to 'Portfolio (SPA)', '/notebook.html', :class => "btn" %></p>          
       </div>
       <div class="span4">
         <h3>Un-embedded Version</h3>
         <p>Similar to ERV, but this version runs independent without the support of Ember-Rails Gem.  All the assets are configured and loaded from the public directory.</p>
		<ul>
			<li>One large monolithic HTML file that contains all the templates</li>
		</ul>
         <p><%= link_to 'Independent Version', '/independent.html', :class => "btn" %></p>
          <h3>Mobile Version</h3>
          <p><%= link_to 'Mobile Verson', '/mobile.html' %></p>
          <p><a class="btn" href="/mobile.html">Mobile &raquo;</a></p>
       </div>
      </div>


      <hr>

      <div class="footer">
        <p>&copy; Company 2013</p>
      </div>

    </div> <!-- /container -->

  </body>
</html>
